---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Zynith</title>
	</head>
	<body>
		<img alt="stu mackenzie holding his signature 'flying microtonal banana' guitar" id="kgatlw" class="top-image" src="https://cdn.prod.website-files.com/6646ddea6f7841c79d11cc0e/6646ddea6f7841c79d11ce39_live-syd-p-800.jpeg" />
		<img alt="a stupid looking bird on the windows xp background with text saying 'wawa'" id="wawa" class="top-image" src="https://cdn.discordapp.com/attachments/922475805832015912/1465156683457232937/image.png?ex=697cb23e&is=697b60be&hm=4299af929558ad4e58e3380989bea7e93f8b3e10bfb25725f01e7dba64bf73ea&" />
		<img alt="niko from oneshot crying" id="niko" class="top-image" src="https://cdn.discordapp.com/attachments/922475805832015912/1465157959662174240/reactionimage11.webp?ex=697cb36e&is=697b61ee&hm=6919eaec7811bd65c3958b6770a5c969e04f27b55fa46163313dc1ca75ed39a7&" />
		<img alt="a stupid low resolution cat laughing" id="niko" class="top-image" src="https://cdn.discordapp.com/attachments/922475805832015912/1465158097827004567/reactionimage14.png?ex=697cb38f&is=697b620f&hm=5854b01c2314271f250de04b766333e10a1df42e1cb5457a39e732afaec8e22c&" />
		<img alt="" id="low resolution man looking to the right" class="top-image" src="https://cdn.discordapp.com/attachments/922475805832015912/1465158152159760459/reactionimage16.png?ex=697cb39c&is=697b621c&hm=e773fa103d7ddbb79024acd46638dd313f43124aaba59792870f2d9ac3d9f438&" />
		<img alt="" id="this is definitely a cat." class="top-image" src="https://cdn.discordapp.com/attachments/922475805832015912/1465158460239904878/meme1096.png?ex=697cb3e6&is=697b6266&hm=f8661540328fffcba937218a2df2d3077384e32b697c14d194adfd06b0337a88&" />
		<div id="main-content">
			<p class="text">
			wsg. so I'm just gonna tell you more about me.<br>
			<br>
			<br>
			I really enjoy playing guitar, and mainly thrash metal.<br>
			<br>
			My favorite band rn is King Gizzard & The Lizard Wizard.<br>
			There's a picture of who I assume is Stu Mackenzie over in the top left<br>
			He plays guitar and does lead vocals for the band. If you're interested<br>
			in some more unique music, definitely <a href="https://kinggizzardandthelizardwizard.com/">check them out.</a> Their live stuff on KEXP is really good.
			<br>
			<br>
			I also just added a bunch of pictures I think are funny.. because they're funny
			<br>
			<br>
			I'm working on the world's greatest mp3 player (imo) right now.<br>
			It's in the very early stages, but I will update this site as I continue to work on it (probably)<br>
			It will be powered by a raspberry pi pico, along with a touchscreen made for said rpi pico (that has an sd card reader for the songs)<br>
			and an uninterruptable power supply. I'm also going to design a case for it (it's gonna look like a walkman) and the screen<br>
			will show the song name, how far you are into the song, and a cassette tape style overlay with the album cover underneath.
			</p>
		</div>

	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

	@keyframes slide-in-rotate {
		from {
			transform: translateY(100%) rotate(30deg);
			opacity: 0
		}
		80% {
			transform: translateY(-2%) rotate(-2deg);
			opacity: 1
		}
		to {
			transform: translateY(0%);
			opacity: 1
		}
	}

	@keyframes slide-in {
		from {
			transform: translateY(100%);
			opacity: 0
		}
		80% {
			transform: translateY(-2%);
			opacity: 1
		}
		to {
			transform: translateY(0%);
			opacity: 1
		}
	}

	* {
		font-family: "Cutive Mono", monospace;
		font-weight: 400;
		font-style: normal;
	}

	body {
		background-color: #2d353b;
	}

	.top-image {
		position: relative;
		/* figure out how to make it default 300px, but able to shrink */
		width: 16%;
		height: auto;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		animation: slide-in 0.6s;
	}

	#main-content {
		margin: 0;
		position: relative;
		text-align: center;
	}

	.text {
		color: #d3c6aa;
		font-weight: bold;
		font-size: 18px;
		animation: slide-in 0.6s;
	}

	a {
		color: #56635f;
	}
</style>
