---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Zynith - About">
  <main>
    <img alt="stu mackenzie holding his signature 'flying microtonal banana' guitar" id="kgatlw" class="top-image" src="https://cdn.prod.website-files.com/6646ddea6f7841c79d11cc0e/6646ddea6f7841c79d11ce39_live-syd-p-800.jpeg" loading="lazy" />
    <div id="main-content">
      <p class="text">
      wsg. so I'm just gonna tell you more about me.<br>
      <br>
      <br>
      I really enjoy playing guitar, and mainly thrash metal.<br>
      <br>
      My favorite band rn is King Gizzard & The Lizard Wizard.<br>
      There's a picture of who I assume is Stu Mackenzie over in the top left<br>
      He plays guitar and does lead vocals for the band. If you're interested<br>
      in some more unique music, definitely <a href="https://kinggizzardandthelizardwizard.com/">check them out.</a> Their live stuff on KEXP is really good.
      <br>
      <br>
      I also just added a bunch of pictures I think are funny.. because they're funny
      <br>
      <br>
      I'm working on the world's greatest mp3 player (imo) right now.<br>
      It's in the very early stages, but I will update this site as I continue to work on it (probably)<br>
      It will be powered by a raspberry pi zero, along with an e-ink touch display made for said rpi zero<br>
      I'm also going to design a case for it (it's gonna look like a walkman) and the screen<br>
      will show the song name, how far you are into the song, and a cassette tape style overlay with the album cover underneath.
      </p>
    </div>
  </main>
</Layout>

<style>
  @keyframes slide-in {
    from {
      transform: translateY(100%);
      opacity: 0
    }
    80% {
      transform: translateY(-2%);
      opacity: 1
    }
    to {
      transform: translateY(0%);
      opacity: 1
    }
  }

  main {
    padding-top: 60px;
  }

  .top-image {
    position: relative;
    width: 200px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    animation: slide-in 0.6s;
  }

  #main-content {
    margin: 0;
    position: relative;
    text-align: center;
    padding: 0 20px;
    max-width: 800px;
    margin: 0 auto;
  }

  .text {
    color: #d3c6aa;
    font-weight: bold;
    font-size: 18px;
    animation: slide-in 0.6s;
    line-height: 1.6;
  }

  a {
    color: #56635f;
  }

  @media (max-width: 600px) {
    main {
      padding-top: 40px;
    }

    .top-image {
      width: 140px;
    }

    .text {
      font-size: 16px;
      text-align: left;
    }

    #main-content {
      padding: 0 16px;
    }
  }
</style>
